span {
    vertical-align:super;
    font-size: 75%;
}

body {
    background-color: #ffffff;
} h1 {
    color: #2A7F62;
} p {
    color:#E85F5C ;
}
div {
    
    color:#E85F5C ;
}


